body, input, th, td, h2, h3, h4, h5, h6
  font-family: "Helvetica Neue", helvetica, verdana, arial
  line-height: 1.1em
  color: #333

h1
  font-size: 2.5em
  font-weight: bold
  line-height: 2em
  letter-spacing: -0.05em

h2
  font-size: 2em
  font-weight: 300
  margin-bottom: 0.6em

h3
  font-size: 1.8em
  font-weight: 300

  & > a
    font-weight: 300

h4
  font-size: 0.8em
  font-weight: 400
  margin-top: 0.2em
  margin-bottom: 1em
  color: #333
  opacity: 0.5

a
  font-weight: bold
  text-decoration: none
  color: #333

  &:hover
    text-decoration: underline

label
  display: block
  margin-bottom: 0.25em
  font-weight: 500
  letter-spacing: -0.05em

form#new_post
  & > textarea
    font-size: 1.4em
    margin-bottom: 1.5em
    width: 600px
    height: 300px

  & > input[type="text"]
    width: 400px
    font-size: 2em
    margin-bottom: 25px

    &#slug
      font-size: 1.2em
      color: #666

#container
  width: 930px
  min-height: 600px
  margin: 15px auto
  padding-left: 15px
  padding-right: 15px

  & > #content
    min-height: 600px

div.post
  & + div.post
    margin-top: 60px

  & > p.summary
    margin-top: 25px
    margin-bottom: 35px

  & + #comments
    margin-top: 50px

    & > .comment
      margin-bottom: 2em

      & > span.author
        font-weight: 500
        width: 200px
        margin-right: 20px
        display: block

      & > span.text
        display: block
        margin-top: 0.25em
        font-weight: 300
      
      & > span.timestamp
        font-size: 0.8em

    & > p.summary
      color: #999
      font-weight: 500
      font-size: 1.5em
      margin-bottom: 0.5em

    & > #new_comment
      margin-top: 25px
      font-weight: 300

      & > #comment
        width: 600px
        height: 150px
        margin-top: 5px
        margin-bottom: 15px
        display: block

        & + input[type="button"]
          margin-top: 15px

#footer
  margin-top: 2.5em
  font-size: 0.8em
  font-weight: 300

input::-webkit-input-placeholder
  color: #ccc

input::-moz-placeholder
  color: #ccc
