#content
  - @posts.each do |post|
    %div.post{ :id => "post_#{post.id}" }
      %h3
        %a{ :href => post.url }= post.title
      %h4
        posted #{ago post.published_at}
      %p.summary
        =post.summary

        - if post.summarized?
          %a{ :href => post.url }= '[ read more ]'

  #pagination
    =will_paginate @posts
