#content
  %div.post{ :id => "post_#{@post.id}" }
    %h2= @post.title
    %p.story= @post.content

  #comments
    %p.summary= "#{@post.comments.count} #{'comment'.pluralize @post.comments.count}"

    - @post.comments.order(:created_at).reverse_order.each do |comment|
      %a{ :name => "comment_#{comment.id}" }
      %div.comment{ :id => "comment_#{comment.id}" }
        %span.author= comment.author
        %span.timestamp= comment.created_at.strftime('%B %e, %l:%M%p').sub('AM', 'am').sub('PM', 'pm')
        %span.text= comment.text
        - if comment.edited?
          %span.edited = "Edited, #{comment.updated_at}"

    %form#new_comment{ :method => :POST, :action => "/post/#{@post.id}/comment" }
      %span{ :style => 'display: block; margin-bottom: 0.6em' }= 'Your comment:'
      %input#author{ :type => :text, :name => :author, :placeholder => 'Anonymous' }
      %input#email{ :type => :text, :name => :email, :placeholder => 'anon@email' }
      %textarea#comment{ :name => :comment }
      %input{ :type => :submit, :value => 'Post New Comment' }
