%h2.light= 'Create a New Post'

%form#new_post{ :method => :POST, :action => '/post/new' }
  %label{ :for => :title }= 'Title'
  %input#title{ :type => :text, :name => :title, :placeholder => 'The title of your new post' }

  %label{ :for => :content }= 'Post'
  %textarea#content{ :name => :content, :placeholder => 'What do you want to share?' }

  %label{ :for => :slug }= 'Slug'
  %input#slug{ :type => :text, :name => :slug, :placeholder => 'For a more interesting URL...' }
  %br

  %input{ :type => :submit, :value => 'Create' }

:javascript
  $(document).ready(function() {
    $('input#title').on('keyup', function() {
      $('input#slug').val($('input#title').val().toLowerCase().replace(/[^\d\w\s]+/g, '').replace(/\s+/g, '-'));
    });
  });
